<h1>Tasks</h1>

<section class="task">
  <div class="task__content">
    <form class="task__form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="task__field">
        <mat-label>Task Description</mat-label>
        <input matInput placeholder="Place the task description here" formControlName="description">
        <mat-error *ngIf="submitted && formControl.description.errors && formControl.description.errors.required">
          Task description is required
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" class="task__button">Save</button>
      <button mat-flat-button color="warn" type="button" (click)="cancel()">Cancel</button>
    </form>
  </div>
</section>

<ul>
  <li *ngFor="let task of tasks">
    <span [class.task__done]="task.status === 'closed'" matTooltip="Done on {{task.updatedAt | date}}" [matTooltipDisabled]="task.status === 'open'">{{task.description}}</span>
    <span *ngIf="task.status === 'closed'"><button mat-flat-button color="accent" (click)="undone(task._id)">Undone</button></span>
    <span *ngIf="task.status === 'open'"><button mat-flat-button color="accent" (click)="done(task._id)">Done</button></span>
    <span *ngIf="task.status === 'open'"><button mat-flat-button color="primary" (click)="edit(task._id)">Edit</button></span>
    <span *ngIf="task.status === 'open'"><button mat-flat-button color="warn" (click)="delete(task._id)">Delete</button></span>
  </li>
</ul>
