<section class="task">
  <div class="task__container">
    <div class="task__header">
      <h1 class="task__title">Tasks</h1>
      <div class="task__actions"></div>
    </div>
    <div class="task__content">
      <form class="task__form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="task__field" appearance="outline" floatLabel="always">
          <mat-label>Task Description</mat-label>
          <input matInput placeholder="Place the task description here" formControlName="description">
          <mat-error *ngIf="submitted && formControl.description.errors && formControl.description.errors.required">
            Task description is required
          </mat-error>
        </mat-form-field>
        <div class="task__buttons">
          <button mat-flat-button color="primary" type="submit" class="task__button">Save</button>
          <button mat-flat-button color="warn" type="button" (click)="cancel()" class="task__button">Cancel</button>
        </div>
      </form>

      <ul class="task__list">
        <li *ngFor="let task of tasks" class="task__item">
          <div class="task__item-title">
            <span [class.task__done]="task.status === 'closed'" matTooltip="Done on {{task.updatedAt | date}}" [matTooltipDisabled]="task.status === 'open'" matTooltipPosition="after">{{task.description}}</span>
          </div>
          <div class="task__item-buttons">
            <button *ngIf="task.status === 'closed'" mat-flat-button color="accent" (click)="undone(task._id)">Undone</button>
            <button *ngIf="task.status === 'open'" mat-flat-button color="accent" (click)="done(task._id)">Done</button>
            <button *ngIf="task.status === 'open'" mat-flat-button color="primary" (click)="edit(task._id)">Edit</button>
            <button *ngIf="task.status === 'open'" mat-flat-button color="warn" (click)="delete(task._id)">Delete</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
