<section class="project">
  <div class="project__container">
    <div class="project__header">
      <h1 class="project__title">Project Form</h1>
      <div class="project__actions">
        <button mat-flat-button color="primary" (click)="goToList()">List All</button>
      </div>
    </div>
    <div class="project__content">
      <form class="project__form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="project__field" appearance="outline" floatLabel="always">
          <mat-label>Project Name</mat-label>
          <input matInput placeholder="Place the project name here" formControlName="name">
          <mat-error *ngIf="submitted && formControl.name.errors && formControl.name.errors.required">
            Project name is required
          </mat-error>
        </mat-form-field>
        <div class="project__buttons">
          <button mat-flat-button color="primary" type="submit" class="project__button">Save</button>
          <button mat-flat-button color="warn" (click)="goToList()" class="project__button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</section>

<section *ngIf="id">
  <app-task [projectId]="id"></app-task>
</section>
